.timerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  margin-bottom: -25px;
  background-image: url("../../../assets/timerBackground.png");
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  border-top: solid 5px #2e2010;
  border-bottom: solid 5px #2e2010;
}

.whiteTimerContainer {
    margin-right: 10px;
    margin-left: 10px;

    filter: brightness(100%); /* Initial brightness */

    background-color: blue;

}

.whiteTimerContainer:hover{
    filter: brightness(150%);
}

.blackTimerContainer {
  margin-left: 10px;
  margin-right: 10px;

}